{% capture navbar-classes %}navbar-home{% endcapture%}
{%- include navbar.html -%}

<header class="text-white home">
  <div class="container">
    <h2 class="subtitle">
      34th EACSL Annual Conference on <br />
      Computer Science Logic
    </h2>
    <h1 class="title">
      CSL 2026
    </h1>

    <p>&nbsp;</p>

    <h3 class="subtitle">
      Paris, France <br />
      {{ site.date }}
    </h3>

    <!-- {% if page.program %}
    <a href="#program" class="btn btn-lg btn-info" role="button">Program</a>
    {% elsif page.accepted %}
    <a href="{{ 'accepted' | relative_url }}" class="btn btn-lg btn-info" role="button">Accepted</a>
    {% elsif page.submit %}
    <a href="#submission" class="btn btn-lg btn-primary" role="button">Submit</a>
    {% endif %} -->
  </div>
</header>
<p style="text-align: right; padding: 0 15px 0;">{{ site.data.credits.bg-img-copyright }}</p>
