<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto">

      <h2>Submission</h2>

      <p> Contributions are not restricted to talks presenting original
        results, but are also open to tutorials, open discussions, and position 
        papers. For this reason, we strongly encourage contributions presenting
        work in progress, open questions, and research projects. Contributions
        presenting the application of linear logic results, techniques, or tools
        to other fields, or vice versa, are most welcome. </p>

      <p>
        To propose a contributed talk submit a short abstract whose length is
        between 2 and 5 pages on
      </p>

      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://tlla-2024.sciencesconf.org">https://tlla-2024.sciencesconf.org</a>
      </p>

      <p>
        The abstracts of the contributed and invited talks will be
        published on the site of the conference.
      </p>
    </div>
  </div>
</div>
